# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Build
build/
dist/

# OS files
.DS_Store
Thumbs.db